/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

.wrap{
    width: 1002px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content:flex-end;
    background: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.facebook{
    border-right: 1px solid gray;
    padding-right: 10px;
    margin-right: 10px;
}

.facebook span{
    font-size: 15px;
    color:#4460a0;
}

.twitter span {
    font-size: 15px;
    color: #00aaec;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
}

.menu h1 a{
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
    background-repeat: no-repeat;
    width: 224px;
    height: 50px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.menu ul{
    display: flex;
    padding-top: 15px;
}

.menu li{
    padding-right: 20px;
}

.menu li a{
    font-size: 15px;
    color: #00cc99;
}

.menu li a:hover{
    border-bottom: 3px solid #00cc99;
    padding-bottom: 20px;
}

.header{
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
    background-repeat: no-repeat;
    width: 1002px;
    height: 346px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.item{
    width: 1002px;
    background-color: rgba(0, 0, 0, .5);
    padding-top: 30px;
    padding-bottom: 30px;
}

.item h2{
    font-size: 36px;
    line-height: 48px;
    color: #fff;
    padding-left: 20px;
}

.content{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.item2{
    width: 30%;
    border: 1px solid gray;
    box-shadow: 3px 3px 3px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
}

.pt-2{
    padding-top: 20px;
}

.pt-3{
    padding-top: 30px;
}

.pb-2{
   padding-bottom: 20px;
}

.pb-3{
   padding-bottom: 30px;
}

.item2 h3{
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
    padding-bottom: 20px;
}

.item2 p{
    font-size: 15px;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

.item2 li{
    font-size: 15px;
    line-height: 22px;
}

h2{
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}
  
.price{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
  
.price th,.price td{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
  
.price th{
  padding: 10px 50px;
  background: #f7f7f7;
  text-align: left;
font-weight: bold;
  }
  
.price td{
    padding: 10px 50px;
}

.primary{
    color: #00a67d;
}

.regsiter{
    background: linear-gradient(#006c51,#009671);
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.regsiter h2{
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.regsiter-form{
    display: flex;
    justify-content: space-between;
}

.input-field{
    display: flex;
    flex-direction:column;
}

input[type="text"]{
    width: 450px;
    padding: 7px 0 7px 5px;
    margin-bottom: 20px;
    
}

.con{
    color: #fff;
    padding-bottom: 10px;
}

.sub{
    width: 100px;
    height: 30px;
    color: #fff;
    background: #00cc99;
    border: none;
    margin-left: 360px;
}

.br{
    outline: none;
    border-radius: 4px;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer img{
    width: 171px;
    height: 36px;
}

.footer li{
    font-size: 15px;
    line-height: 24px;
}

.footer li a{
    color: #e12d80;
}